article {
  display: grid;
  grid-template-columns: 65px 2fr 3fr 1fr;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 11px;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;

  .avatar {
    border-radius: 50%;
    background: var(--accent);
    font-size: 30px;
    color: #fff;
    box-shadow: 1px 1px 1px #00000029;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
  }

  a {
      text-decoration: none;
      color: inherit;
      transition: color ease-in-out 250ms;

      &:hover {
          color: var(--accent);
      }
  }

  a, .powers {
    color: var(--grey);
  }
}
