section {
  h2 {
    color: var(--medium-grey);
    user-select: none;
    cursor: pointer;

    span {
      transform: rotate(180deg);
      transition: all ease-in-out 250ms;
      margin-left: 10px;
      font-size: 20px;

      &.expanded {
        transform: rotate(0deg);
      }
    }
  }

  .filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 6px 3px;
    box-sizing: border-box;

    .search-wrapper {
      position: relative;
      flex-grow: 1;
      margin-right: 15px;

      input {
        width: 100%;
        padding: 12px 0 15px 45px;
        border-width: 0;
        border-radius: 5px;
        box-shadow: 0px 3px 6px #00000024;
        box-sizing: border-box;
        outline: none;
      }

      fa-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: var(--grey);

        &#search {
          left: 15px;
        }

        &#close {
          right: 15px;
        }
      }
    }

    span {
      margin: 0 15px;
      font-weight: 500;
    }
  }
}
