:root {
    --background: #ebecf0;
    --primary: #302e2e;
    --accent: #83aaba;
    --dark-accent: #447a91;
    --orange: #ef7b45;
    --dark-orange: #e4572e;
    --grey: #707070;
    --light-grey: #cdcdcd;
    --medium-grey: #6e6969;
    --border-grey: #dee2e6;
}